/Users/troyraen/Google_Drive/MESA/code/mesa_wimps/make/
/Users/troyraen/Google_Drive/MESA/code/mesa_wimps/LOGS/
/Users/troyraen/Google_Drive/MESA/code/mesa_wimps/png/
/Users/troyraen/Google_Drive/MESA/code/mesa_wimps/photos/
/Users/troyraen/Google_Drive/MESA/code/mesa_wimps/*.DS_Store
